version: '3.8'

services:
  db:
    image: postgres:18.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - app_network

  web:
    build: .
    user: root
    volumes:
      - .:/rails
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      RAILS_ENV: development
    command: /bin/sh -c "rm -f /rails/tmp/pids/server.pid && ./bin/rails server -b 0.0.0.0"
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
  